.container.proto-new{action: ""}
  - if @prototype.errors.any?
    .alert.alert-danger
      %h2
        = @prototype.errors.count
        件のエラーがあります。
      %ul
        - @prototype.errors.full_messages.each do |msg|
          %li= msg
  .col-md-8.col-md-offset-2
    = form_for @prototype do |f|
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: 'Title'
        .col-md-12
          .cover-image-upload
            = f.fields_for :images, @prototype_images do |img_form|
              = img_form.file_field :image_url
              = img_form.hidden_field :status, value: :main
              = img_form.hidden_field :id, value: @prototype.main_image.id
        .col-md-12
          %ul.proto-sub-list.list-group
            - 2.times do |i|
              = f.fields_for :images, @prototype_images do |img_form|
                %li.list-group-item.col-md-4
                  .image-upload
                    = img_form.file_field :image_url
                    = img_form.hidden_field :status, value: :sub
                    = img_form.hidden_field :id, value:  @prototype.sub_image_id(i)
            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: 'Catch Copy'
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", size: "30x4"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/
      .row.text-center.proto-btn
        = f.submit class: 'btn btn-lg btn-primary btn-block', value: 'Publish'
