.container
  .form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2.form-signin-heading Please sign in
    = f.label :inputEmail, class: 'sr-only' Email address
    = f.email_field :email, autofocus: '', placeholder: 'Email address', required: '', id: 'inputEmail' class: 'form-control'
    = f.label :inputPassword, class: 'sr-only' Password
    = f.password_field :password, placeholder: 'Password', required: '', id: 'inputPassword' class: 'form-control'
    .checkbox
      %label
        = f.check_box :check, value: 'remember-me' Remember me
    .text-center
      = f.submit class: 'btn btn-lg btn-primary btn-block' value: 'Sign in'
    %p
      Not a member?
      %a{href: "/users/sign_in"} Sign up now
